<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>
   <div class="page-header">
    <div id="slidemenu">
      <ul class="nav navbar-nav navbar-right" date-hover="dropdown" date-animation="zoomIn fadeIn fadeInUp fadeIn">
        <% if user_signed_in? %>
         <li class="">
          <%= link_to "Home", user_path(current_user.id), class:"user_#{current_user.id}" %>
         </li>
         <li class="">
          <%= link_to "Users", users_path, class:"users" %>
         </li>
         <li class="">
          <%= link_to "Books", books_path, class:"books" %>
         </li>
         <li class="">
          <%= link_to "logout", destroy_user_session_path, method: :delete, class:"logout" %>
         </li>
        <% else %>
         <li class="">
          <%= link_to "Home", root_path, class:"home" %>
         </li>
         <li class="">
          <%= link_to "About", books_about_path, class:"about" %>
         </li>
         <li class="">
          <%= link_to "Sign up", new_user_registration_path, class:"sign_up" %>
         </li>
         <li class="">
          <%= link_to "login", new_user_session_path, class:"sign_in" %>
         </li>
        <% end %>
      </ul>
    </div>
  </div>

     <%= yield %>

<footer>

</footer>
  </body>
</html>
